body {
    background-color: aqua;

}

#fishTank {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em;
    border: 5px dashed red;
}

.fishlist {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    

}

.fishlist-card{
    background-color: chartreuse;
    margin: 1em;
    flex-basis: 25%;
    padding: 0 1em;
}

.card-image {
    
}

.fish-image {
    width: 100%;
    height: auto;
}

aside {
    flex: 1;
    background-color: cadetblue;
}

.logo {
    display: flex;
    justify-content: center;
    height: 7em;
    width: auto;
}

