body {
    background-color: aqua;

}

#fishTank {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em;
    border: 5px dashed red;
    flex-basis: 75%;
}

.fishList {
    flex: 3;
    display-flex: flex;
    flex-wrap: wrap;
    

}

.fishlist-card{
    background-color: chartreuse;
    margin: 1em;
    
}

.card-image {
    

}

.fish-image {
    width: 100%;
    height: auto;
}

aside {
    flex: 1;
    background-color: cadetblue;
}

